{% extends 'main/main_layout.html' %}
{% block title %}| Detail - {{ data.merek }} {{ data.model }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/car_details.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/main/car_details.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 car-details">
    <div class="card w-75">
        <img src="{{ data.image_url }}" class="card-img-top" alt="{{ data.merek }} {{ data.model }}">
        <div class="card-body">
            <h5 class="card-title">Detail {{ data.merek }} {{ data.model }}</h5>
            <p class="card-text"><strong>Merek:</strong> {{ data.merek }}</p>
            <p class="card-text"><strong>Model:</strong> {{ data.model }}</p>
            <p class="card-text"><strong>Status:</strong> {{ data.status }}</p>
            <p class="card-text"><strong>Harga per hari:</strong> <span data-target="currency">{{ data.harga }}</span>
            </p>

        </div>
        <div class="card-footer">
            {% if data.status == 'Tersedia'%}
                {% if user_info %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Pesan</button>
                {% else %}
                <button type="button" class="btn btn-primary" onclick="createTransaction()">Pesan</button>
                {% endif %}
            {% else %}
            <button class="btn btn-secondary" disabled>Tidak Tersedia</button>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ data.merek }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="mb-3">
                        <p>Masukkan hari rental</p>
                        <input type="number" name="hari" id="hari" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {% if user_info %}
                <button type="button" class="btn btn-primary" id="btn_pesan"
                    onclick="createTransaction(id_mobil = '{{data.id_mobil}}', user_id ='{{user_info.user_id}}')">Pesan</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}