{% extends 'main/main_layout.html' %}
{% block title %}| Detail - {{ data.merek }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/home_page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='icon/icon.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/car_details.css') }}">
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='js/main/car_details.js') }}"></script>
{% endblock %}

{% block content %}
<div class="containerr py-5">
    <div class="card shadow-lg w-75">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='gambar/' + data.gambar) }}" alt="Car Image"
                        class="img-fluid rounded" style="object-fit: cover; height: 100%;">
                </div>
                <div class="col-md-6">
                    <h3 class="mb-3">{{ data.merek }}</h3>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Transmisi</th>
                                <td>{{ data.transmisi }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Seat</th>
                                <td>{{ data.seat }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Harga</th>
                                <td>Rp {{ data.harga }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Status</th>
                                <td>{{ data.status }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h5>Deskripsi</h5>
                    <p class="" style="height: 10rem; overflow:auto;">{{data.desc|nl2br|safe}}</p>
                    <div class="text-center mt-4">
                        {% if user_info and data.status == 'Tersedia'%}
                        <a href="#" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#rentalModal">Rental</a>
                        {% else %}
                        <a href="/login" class="btn btn-success">Rental</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Rental Modal -->
<div class="modal fade" id="rentalModal" tabindex="-1" role="dialog" aria-labelledby="rentalModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rentalModalLabel">{{ data.merek }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="hari" class="form-label">Masukkan hari rental</label>
                        <input type="number" name="hari" id="hari" class="form-control" min="1" required>
                        <input type="hidden" id="harga_per_hari" value="{{ data.harga }}">
                    </div>
                    <div id="total_price" class="mb-3">
                        Total Harga: Rp 0
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="agree_terms">
                        <label class="form-check-label" for="agree_terms">Saya setuju dengan <a href="#"
                                data-bs-toggle="modal" data-bs-target="#termsModal" style="color:blue;">syarat dan ketentuan</a></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {% if user_info %}
                <button type="button" class="btn btn-primary" id="btn_pesan"
                    onclick="createTransaction('{{ data.id_mobil }}', '{{ user_info.user_id }}')"
                    disabled>Pesan</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Terms Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalLabel">Syarat dan Ketentuan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Berikut adalah syarat dan ketentuan untuk menyewa mobil:</p>
                <ul>
                    <li>Penyewa harus memiliki SIM yang masih berlaku.</li>
                    <li>Mobil harus dikembalikan dalam kondisi yang sama seperti saat disewa.</li>
                    <li>Biaya tambahan akan dikenakan untuk keterlambatan pengembalian.</li>
                    <li>Penyewa bertanggung jawab atas segala kerusakan yang terjadi selama masa sewa.</li>
                    <li>Penyewa tidak diizinkan untuk mengalihkan penyewaan kepada pihak ketiga tanpa persetujuan.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="car-list-section" id="list-mobil">
    <h2 class="mb-3 text-primary">List Mobil</h2>
    <div class="car-list owl-carousel">

        {% for dt in data_mobil %}
        <div class="card border-1 rounded-4">
            <img src="{{ url_for('static', filename='gambar/') }}{{dt.gambar}}" id="gambar_mobil" alt="{{dt.gambar}}"
                alt="" class="card-img-top">
            <div class="card-body">
                <h3 class="mb-2 text-primary">{{dt.merek}}</h3>
                <div class="row">
                    <div class="col">
                        <p class=" d-flex m-0"><i class="eicon-seat pe-3 fs-5"></i>{{dt.seat}} Seat</p>
                    </div>
                    <div class="col-auto">
                        <p class=" d-flex m-0"><i class="eicon-transmission  pe-3 fs-5"></i>{{dt.transmisi}}</p>
                    </div>
                </div>
                <div class="border-top mt-3 py-3">
                    <div class="row">
                        <div class="col">Harga</div>
                        <div class="col-auto"><span data-target="currency">{{dt.harga}}</span>/ Hari</div>
                    </div>
                </div>
                <div class="d-flex">
                    <a class="btn car-btn btn-primary m-auto w-100 rounded-5"
                        href="/detail-mobil?id={{dt.id_mobil}}">Detail</a>
                </div>
            </div>
        </div>
        {% else %}
        {% endfor %}
    </div>
</section>
{% endblock %}