<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/SweetAlert2/sweetalert2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/toastr/toastr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/main.css') }}">

    {% block css %}

    {% endblock %}
    <title>ZallRentcar{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="shadow">
        <div class="logo"><a href="/">ZallRentCar</a></div>
        {% if user_info %}
        <div class="dropdown-center">
            {% if user_info.profile_image_path%}

            <img src="/{{user_info.profile_image_path}}" class="rounded-circle bg-primary dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false" alt=""
                style="height: 3.5rem; width:3.5rem; object-fit:cover; cursor:pointer;">

            {% else %}

            <img src="{{ url_for('static', filename='gambar/default_pic.png') }}"
                class="rounded-circle bg-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" alt=""
                style="height: 3.5rem; width:3.5rem; object-fit:cover; cursor:pointer;">

            {% endif %}
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fs-6" href="/transaksi">Transaksi</a></li>
                <li><a class="dropdown-item fs-6" href="/profile">Settings</a></li>
                <li><a onclick="logout()" class="dropdown-item fs-6 text-danger " style="cursor: pointer;">Logout</a>
                </li>
            </ul>
        </div>
        {% else %}
        <a href="/login" class="text-primary fs-5">Login</a>
        {% endif %}
    </header>
    <div class="px-10">
        {% block content %}

        {% endblock %}

        <footer class="footer">
            <div class="container d-flex justify-content-between">
                <div class="footer-content text-center">
                    <h3>Zall RentCar</h3>
                    <p>Zall RentCar adalah penyedia layanan sewa mobil terpercaya di Jakarta. Kami menawarkan berbagai
                        jenis mobil dengan harga yang kompetitif.</p>
                </div>
                <div class="footer-content text-center">
                    <h3>Quick Links</h3>
                    <ul class="list">
                        <li><a href="/">Home</a></li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">About</a></li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#servicesModal">Services</a></li>
                        <li><a href="/">Pilih Mobil</a></li>
                    </ul>
                </div>
                <div class="footer-content text-center">
                    <h3>Contact Us</h3>
                    <p>Email: zallrentcar@gmail.com</p>
                    <p>Phone: 0858-1350-2474</p>
                    <p>Jl. Lap. Tembak Gg. Kapuk No.15A, Cibubur, Kota Jakarta Timur</p>
                    <div class="social-icons mt-3">
                        <a href="" class="d-inline-block mr-2"><i class="fab fa-facebook"></i></a>
                        <a href="" class="d-inline-block mr-2"><i class="fab fa-twitter"></i></a>
                        <a href="" class="d-inline-block mr-2"><i class="fab fa-instagram"></i></a>
                        <a href="" class="d-inline-block mr-2"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="bottom-bar text-center mt-3">
                <p>&copy; 2023 zallrentcar. All rights reserved</p>
            </div>
        </footer>


        <div class="modal fade" id="homeModal" tabindex="-1" aria-labelledby="homeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="homeModalLabel">Home</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Welcome to ZallRentCar, your trusted car rental service provider in Jakarta. We offer a
                            variety of cars at competitive prices.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aboutModalLabel">About</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>ZallRentCar adalah perusahaan rental mobil terkemuka yang berkomitmen untuk menawarkan
                            layanan transportasi yang handal dan berkualitas tinggi. Dengan armada mobil yang beragam
                            dan terawat dengan baik, kami bertujuan untuk membuat pengalaman penyewaan mobil yang nyaman
                            dan bebas stres bagi pelanggan kami.


                            Didirikan pada tahun 2016, ZallRentCar lahir dari keinginan untuk memberikan solusi
                            transportasi yang efisien dan terjangkau bagi masyarakat. Kami memahami bahwa mobilitas yang
                            baik adalah kunci untuk membuka potensi dan kesempatan, baik bagi individu maupun bisnis.
                            Itulah mengapa kami menawarkan berbagai pilihan mobil, dari hatchback yang kompak hingga
                            minivan yang luas, untuk memenuhi kebutuhan transportasi yang beragam.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="servicesModal" tabindex="-1" aria-labelledby="servicesModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="servicesModalLabel">Services</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Layanan ZallRentCar:

                            - Sewa Mobil Harian, Mingguan, dan Bulanan: Pilihan sewa mobil fleksibel untuk berbagai
                            kebutuhan perjalanan, baik jangka pendek maupun jangka panjang.
                            - Layanan Antar-Jemput Bandara: Penjemputan dan pengantaran nyaman ke dan dari bandara.
                            - Sewa Mobil untuk Acara Khusus: Pilihan mobil mewah dan premium untuk acara-acara istimewa
                            Anda.
                            - Layanan Pelanggan 24/7: Dukungan berkelanjutan, kapan pun Anda membutuhkannya, dengan tim
                            layanan pelanggan yang berdedikasi.
                            - Pemesanan Online Mudah: Platform pemesanan online yang sederhana dan aman untuk kenyamanan
                            pemesanan Anda.
                            - Penjemputan dan Pengantaran: Layanan tambahan untuk menjemput dan mengantarkan mobil ke
                            lokasi pilihan Anda.
                            - Armada Mobil Terawat Baik: Mobil-mobil kami terawat dengan baik, memastikan keselamatan,
                            kinerja, dan kebersihan tertinggi.
                            - Asuransi dan Bantuan Jalan: Opsi asuransi komprehensif dan bantuan jalan untuk ketenangan
                            pikiran Anda selama perjalanan.
                            - Pilihan Mobil yang Luas: Berbagai merek dan model mobil untuk memenuhi preferensi dan
                            kebutuhan yang berbeda.
                            - Harga Kompetitif: Harga yang kompetitif dan promosi reguler untuk memastikan penyewaan
                            mobil yang terjangkau.</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/4e981ecd7b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="{{ url_for('static', filename='js/main/main.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/SweetAlert2/sweetalert2.all.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/toastr/toastr.js') }}"></script>

        {% block js %}

        {% endblock %}
    </div>

</body>

</html>