<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/SweetAlert2/sweetalert2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/toastr/toastr.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/main.css') }}">

    {% block css %}

    {% endblock %}
    <title>ZallRentcar{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="shadow">
        <div class="logo"><a href="/">ZallRentCar</a></div>
        {% if user_info %}
        <div class="dropdown-center">
            <img src="{{user_info.profile_image_path}}"
                class="rounded-circle bg-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" alt=""
                style="height: 3.5rem; width:3.5rem; object-fit:cover; cursor:pointer;">
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fs-6" href="/transaksi">Transaksi</a></li>
                <li><a class="dropdown-item fs-6" href="/profile">Settings</a></li>
                <li><a onclick="logout()" class="dropdown-item fs-6 text-danger " style="cursor: pointer;">Logout</a>
                </li>
            </ul>
        </div>
        {% else %}
        <a href="/login" class="text-primary fs-5">Login</a>
        {% endif %}
        <!-- <nav>
            <a href="/transaksi">Transaksi</a>
            <a href="/profile">Settings</a>
            {% if user_info %}
            <a onclick="logout()" class="text-danger" style="cursor: pointer;">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
        </nav> -->
    </header>
    <div class="px-10">
        {% block content %}

        {% endblock %}

        <footer class="footer">
            <div class="container d-flex justify-content-between">
                <div class="footer-content">
                    <h3>Zall RentCar</h3>
                    <p>Zall RentCar adalah penyedia layanan sewa mobil terpercaya di Jakarta. Kami menawarkan berbagai
                        jenis mobil dengan harga yang kompetitif.</p>
                </div>
                <div class="footer-content">
                    <h3>Quick Links</h3>
                    <ul class="list">
                        <li><a href="/">Home</a></li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">About</a></li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#servicesModal">Services</a></li>
                        <li><a href="/">Pilih Mobil</a></li>
                    </ul>
                </div>
                <div class="footer-content text-right">
                    <h3>Contact Us</h3>
                    <p>Email: zallrentcar@gmail.com</p>
                    <p>Phone: 0858-1350-2474</p>
                    <p>Jl. Lap. Tembak Gg. Kapuk No.15A, Cibubur, Kota Jakarta Timur</p>
                    <div class="social-icons mt-3">
                        <a href="" class="d-inline-block mr-2"><i class="fab fa-facebook"></i></a>
                        <a href="" class="d-inline-block mr-2"><i class="fab fa-twitter"></i></a>
                        <a href="" class="d-inline-block mr-2"><i class="fab fa-instagram"></i></a>
                        <a href="" class="d-inline-block mr-2"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="bottom-bar text-center mt-3">
                <p>&copy; 2023 zallrentcar. All rights reserved</p>
            </div>
        </footer>


        <div class="modal fade" id="homeModal" tabindex="-1" aria-labelledby="homeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="homeModalLabel">Home</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Welcome to ZallRentCar, your trusted car rental service provider in Jakarta. We offer a
                            variety of cars at competitive prices.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aboutModalLabel">About</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>ZallRentCar is a trusted car rental service provider in Jakarta. We offer a variety of cars
                            at competitive prices.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="servicesModal" tabindex="-1" aria-labelledby="servicesModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="servicesModalLabel">Services</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>We offer a wide range of services including car rental for daily, weekly, and monthly use.
                            Our cars are well-maintained</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/4e981ecd7b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="{{ url_for('static', filename='js/main/main.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/SweetAlert2/sweetalert2.all.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/toastr/toastr.js') }}"></script>

        {% block js %}

        {% endblock %}
    </div>

</body>

</html>