{% extends 'main/main_layout.html' %}


{% block content %}
<div class="w-100 p-4">
    <div id="snap-container" class="d-flex justify-content-center"></div>
</div>



{% endblock %}

{% block js %}
<script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-pYGOQrTmRDZCDTJt"></script>
<script type="text/javascript">
    $(document).ready(function(){   
        window.snap.embed('{{data.transaction_token}}', {
            embedId: 'snap-container',
            onSuccess: function (result) {
                $.ajax({
                    url: "/api/transaction-success",
                    type: "POST",
                    data :{
                        penyewa : '{{data.penyewa}}',
                        idcar : '{{data.id_mobil}}',
                        orderid : '{{data.order_id}}',
                        from : 'user'
                    },
                    success : function (){
                        window.location.replace('/');
                    }
                })
            },
            onError: function(result){
                window.location.replace('/');
            }
        });
    })
</script>
{% endblock %}