{% extends 'main/main_layout.html' %}
{% block title %}| Pemesanan{% endblock %}

{% block content %}

<p>{{ data.merek }}</p>
<p>{{ data.model }}</p>
<p>{{ data.harga }}</p>
<button id="pay-button">Pay!</button>

<script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="<Set your ClientKey here>"></script>

{% endblock %}

{% block js %}
<script>
    $('#pay-button').on('click', function () {
        snap.pay('{{transaction_token}}', {
            // Optional
            onSuccess: function (result) {
            $.ajax({
                url: "/updateCar",
                type: "POST",
                data: {
                    id : '{{ data._id }}',
                    statusMobil : 'Diproses'
                },
                success: function (data) {
                    alert('terimakasih sudah memesan')
                    window.location.replace('/')
                }
            })
            },
            // Optional
            onPending: function (result) {
                      /* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
            },
            // Optional
            onError: function (result) {
                      /* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
            }
        });
    })
</script>
{% endblock %}