{% extends 'main/main_layout.html' %}

{% block title %}
| Setting
{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/main/profile.js') }}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/profil.css') }}">
{% endblock %}

{% block content %}
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    <img src="{{ user_info['profile_image_path'] | default(url_for('static', filename='Gambar/naruto.png')) }}" class="img-radius" id="profileImage">
                                    <input type="file" id="fileInput" style="display:none;" accept="image/*">
                                </div>
                                <h6 class="f-w-600">Nama: {{ user_info['username'] }}</h6>
                                <i class="fa-solid fa-pen-to-square" id="editIcon" style="cursor:pointer;" data-toggle="modal" data-target="#editModal"></i> Edit
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">
                                    <i class="fa-regular fa-id-card"></i> Selamat Datang Di Halaman Profil
                                </h6>
                                
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">
                                            <i class="fa-solid fa-envelope"></i> Email
                                        </p>
                                        <h6 class="text-muted f-w-400" id="email">{{ user_info['email'] }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">
                                            <i class="fa-solid fa-mobile-screen-button"></i> No Telpon
                                        </p>
                                        <h6 class="text-muted f-w-400" id="phone">{{ user_info['phone'] }}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">
                                            <i class="fa-solid fa-map-location"></i> Alamat
                                        </p>
                                        <h6 class="text-muted f-w-400" id="address">{{ user_info['address'] }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Status</p>
                                        <h6 class="text-muted f-w-400">User</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Profil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="editName">Nama</label>
                        <input type="text" class="form-control" id="editName" value="{{ user_info['username'] }}">
                    </div>
                    <div class="form-group">
                        <label for="editEmail">Email</label>
                        <input type="email" class="form-control" id="editEmail" value="{{ user_info['email'] }}">
                    </div>
                    <div class="form-group">
                        <label for="editPhone">No Telpon</label>
                        <input type="text" class="form-control" id="editPhone" value="{{ user_info['phone'] }}">
                    </div>
                    <div class="form-group">
                        <label for="editAddress">Alamat</label>
                        <input type="text" class="form-control" id="editAddress" value="{{ user_info['address'] }}">
                    </div>
                    
                    <div class="form-group">
                        <label for="editProfileImage">Foto Profil</label>
                        <input type="file" class="form-control" id="editProfileImage">
                    </div>
                    <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
                </form>
                <div id="loadingSpinner" style="display: none;">
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


    
