{% extends 'main/main_layout.html' %}

{% block title %}
    | Setting
{% endblock %}

{% block content %}
<section style="margin-top: 10rem;">

    <!-- Profile Section -->
    <div class="container">
        <div class="d-flex align-items-center justify-content-between bg-primary text-white rounded px-3 py-2 mb-4">
            <img src="path_to_profile_icon.png" alt="Profile Icon" class="rounded-circle" width="50">
            <div class="h4 mb-0">Muhammad Afgan</div>
            <button class="btn btn-white text-primary rounded">Logout</input>
        </div>

        <h2 class="text-center font-weight-bold mb-4">Informasi Profil</h2>

        <div class="mb-3">
            <label class="font-weight-bold">Nama Lengkap</label>
            <input type="text" class="form-control" value="Muhammad Afgan" readonly>
        </div>

        <div class="mb-3">
            <label class="font-weight-bold">Alamat</label>
            <input type="text" class="form-control" value="Depok, Jawa Barat" readonly>
        </div>

        <div class="mb-3">
            <label class="font-weight-bold">Email</label>
            <input type="email" class="form-control" value="afgan123@gmail.com" readonly>
        </div>

        <div class="mb-3">
            <label class="font-weight-bold">No Telp</label>
            <input type="text" class="form-control" value="123 456 789" readonly>
        </div>

        <div class="mb-3">
            <label class="font-weight-bold">KTP</label>
            <input type="file" class="form-control">
        </div>
    </div>

</section>
{% endblock %}
