.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    background: rgb(1, 65, 159);
    background: linear-gradient(180deg, rgba(1, 65, 159, 1) 0%, rgba(13, 110, 253, 1) 100%);
    color: white;
}

.main-section .text-content {
    max-width: 50%;
}

.main-section .text-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-section .text-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.main-section .text-content .btn {
    font-size: 18px;
    background-color: #1b1bb3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.main-section .image-content {
    max-width: 40%;
    transform: translateY(5rem);
}

.main-section .image-content img {
    max-width: 100%;
    border-radius: 10px;
}

.about-section,
.flow-section {
    padding: 2rem 10rem;
}

.about-section .row{
    height: min-content;
}
.about-section .row * .item {
    height: 100%;
}

.about-section .row .col p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
}
.flow-section .cont{
    background: rgb(1, 65, 159);
    background: linear-gradient(180deg, rgba(1, 65, 159, 1) 0%, rgba(13, 110, 253, 1) 100%);
    color: white;
}
.flow-section .row{
    height: min-content;
}

.flow-section .row * .col-item{
    height: 100%;
}

#number {
    font-size: 1.2rem;
    color: white;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -1.5rem);
}

.title-number{
    padding-top: 2.5rem;
}

.car-list-section {
    padding: 2rem 10rem;
}

.car-list-section .card-image {
    object-fit: cover;
    height: 12.5rem;
}

.car-list-section .list-detail {
    display: flex;
}

.car-list-section .list-detail li {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-size: 1.25rem;
}

.car-list-section .list-detail li img {
    height: 1.25rem;
    padding-right: 1rem;
}

.car-list-section .car-btn {
    width: 100%;
}


.image-content {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}


footer {
    text-align: center;
    padding: 20px;
    background-color: #ddd;
    margin-top: 50px;
}

