@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    font-family: "League Spartan", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.brand-logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo img {
    width: 80%;
}

.container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: none;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    min-height: 25em;
    /* Menambahkan tinggi minimum untuk form dan */
}

.form-container.active {
    display: block;
}

.form-group label {
    padding-left: 0.5rem;
}

.form-control[type="email"],
.form-control[type="text"],
.form-control[type="password"],
.form-container button {
    height: 3rem;
}

.form-title {
    font-size: 3rem;
    font-weight: bold;
    /* Membuat tulisan tebal */
}

@media only screen and (max-width: 1000px) {
    .brand-logo {
      display: none;
    }
    .container {
        width: 80%;
    }
  }