@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    
    font-family: "League Spartan", sans-serif;
}

body {
    margin: 0;
    margin-top: 5rem;
    background-color: #f8f9fa;
}

html {
    scroll-behavior: smooth;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 5rem;
}

.logo a{
    font-size: 2rem;
    font-weight: bold;
    color: #1b1bb3;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight:500;
    font-size: 1.5rem;
}

.footer{
    
    background: rgb(1, 65, 159);
    background: linear-gradient(0deg, rgba(1, 65, 159, 1) 0%, rgba(13, 110, 253, 1) 100%);
}
.container{
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
    color: #ffffff;

}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
    color: #ffffff;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
    color: #ffffff;
}

.social-icons i:hover{
    color: #094d90;
}
.bottom-bar{
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 16px;
    padding: 7px;
}