@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
    
    font-family: "League Spartan", sans-serif;
}
#toast-container.toast-top-center {
    top: 0;
    left: 50% !important; 
    transform: translate(-50%, 0rem) !important;
}
body {
    margin: 0;
    margin-top: 5rem;
    background-color: #f8f9fa;
}

html {
    scroll-behavior: smooth;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 5rem;
}

.logo a{
    font-size: 2rem;
    font-weight: bold;
    color: #1b1bb3;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 1.5rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight:500;
    font-size: 1.5rem;
}