{% extends 'layout_dashboard.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/login.css') }}">
{% endblock %}

{% block js %}<script src="{{ url_for('static', filename='js/dashboard/login.js') }}"></script>{% endblock %}


{% block title %}Dashboard - Login{% endblock %}

{% block content %}

<div class="container">
    <h2>Login</h2>
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username" placeholder="username" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="password" required>
    </div>
    <button type="buttom" onclick="loginDashboard()" class="btn btn-primary mb-3">Login</button><br>
    <a href="">lupa password</a>
    <p>Belum punya akun ? <a name="" id="" class="" href="/daftar">Daftar</a>
    </p>
</div>

{% endblock %}