{% extends 'dashboard/layout_dashboard.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/data_mobil.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/dashboard/datamobil.js') }}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid p-0 px-4 data">

  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <input type="text" id="search-data" class="form-control" placeholder="Cari merek">
    </div>
    <div class="col text-end">
      <a class="btn btn-primary" role="button" href="/dashboard/data_mobil/add-data">add data</a>
    </div>
  </div>

  <div class="table_data">
    <table class="shadow">
      <thead>
        <tr for>
          <th>#</th>
          <th>Nama Mobil</th>
          <th>Seat</th>
          <th>Transmisi</th>
          <th>Harga</th>
          <th>Status</th>
          <th>Action</th>
        </tr>

      </thead>
      <tbody id="list-data">
        {% for dt in data %}
        <tr>
          <td>{{loop.index}}</td>
          <td id="merek">{{dt.merek}}</td>
          <td>{{dt.seat}}</td>
          <td>{{dt.transmisi}}</td>
          <td data-target="currency">{{dt.harga}}</td>
          <td id="status">{{dt.status}}</td>

          <td>
            <button class="btn fa-solid fa-edit" type="button" data-bs-toggle="dropdown"
              aria-expanded="false"></button>
            <ul class="dropdown-menu">
              {% if dt.status == 'Diproses' %}
              <li><a class="dropdown-item" id="btn" onclick="changeStatus('{{dt.status}}','{{dt.order_id}}')"
                  role="button">Konfirmasi Pesanan</a></li>
              {% elif dt.status == 'Digunakan' %}
              <li><a class="dropdown-item" onclick="changeStatus('{{dt.status}}','{{dt.order_id}}')"
                  role="button">Konfirmasi Kembali</a></li>
              {% else %}

              <li><a class="dropdown-item" href="#">Edit Mobil</a></li>
              {% endif %}
            </ul>
          </td>

          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="7" class="text-center">Tidak ada data yang tersedia.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


</div>

{% endblock %}
<!-- komen -->