{% extends 'dashboard/layout_dashboard.html' %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/dashboard/datamobil.js') }}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid p-0 px-4 data">

  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <input type="text" id="search-data" class="form-control" placeholder="Cari merek">
    </div>
    <div class="col text-end">
      <a class="btn btn-primary" role="button" href="/dashboard/product/add-data">add data</a>
    </div>
  </div>

  <table class="table table-curved border ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nama Mobil</th>
        <th scope="col">Tipe</th>
        <th scope="col">Harga Sewa</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>

    </thead>
    <tbody id="list-data">
      {% for dt in data %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{dt.merek}}</td>
        <td>{{dt.model}}</td>
        <td>{{dt.harga}}</td>
        <td id="status">{{dt.status}}</td>
        <td>
          <button class="btn fa-solid fa-ellipsis" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu">
            {% if dt.status == 'Diproses' %}
            <li><a class="dropdown-item" onclick="changeStatus('{{dt.status}}','{{dt.order_id}}')" role="button">Konfirmasi Pesanan</a></li>
            {% elif dt.status == 'Digunakan' %}
            <li><a class="dropdown-item" onclick="changeStatus('{{dt.status}}','{{dt.order_id}}')" role="button">Konfirmasi Kembali</a></li>
            {% else %}
              
            <li><a class="dropdown-item" href="#">Edit Mobil</a></li>
            {% endif %}
          </ul>
        </td>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="7" class="text-center">Tidak ada data yang tersedia.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}