{% extends 'dashboard/layout_dashboard.html' %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/dashboard/transaksi.js') }}"></script>
{% endblock %}
{% block content %}

<div class="container-fluid p-0 px-4 data">

  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <a class="btn btn-primary" role="button" href="/dashboard/product/add-data">Tambah Transaksi</a>
    </div>
    <div class="col-auto">
        <select class="form-select" aria-valuenow="filter">
            <option value="" selected disabled hidden>filter</option>
            <option value="1">Tanggal Rental</option>
            <option value="2">Sudah Bayar</option>
            <option value="3">Akhir Rental</option>
          </select>
    </div>
  </div>

  <table class="table table-curved border ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Mobil</th>
        <th scope="col">Penyewa</th>
        <th scope="col">Lama rental</th>
        <th scope="col">Total</th>
        <th scope="col">tanggal rental</th>
        <th scope="col">akhir rental</th>
        <th scope="col">Status</th>
      </tr>

    </thead>
    <tbody id="list-data">
      {% for dt in data %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{dt.item}}</td>
        <td>{{dt.user}}</td>
        <td>{{dt.lama_rental}}</td>
        <td>{{dt.total}}</td>
        <td>{{dt.date_rent}}</td>
        <td>{{dt.end_rent}}</td>
        <td id="status">{{dt.status}}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="7" class="text-center">Tidak ada data yang tersedia.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}